<!DOCTYPE html>
<html>
<head>
    <title><%= title %></title>
</head>
<body>
    <% include ../partials/header %>
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                            <br>
                            <br>
                <center><h4 class="text-muted"> Create your Profile </h4></center>
            </div>
        </div>
    </div>
            
        <!-- Modal -->
        <div class="modal fade" id="createVideo" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <form action="/videos" method="post" enctype="multipart/form-data">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                            <h4 class="modal-title" id="myModalLabel">Upload a video file</h4>
                        </div>

                        <div class="modal-body">
                            <fieldset class="form-group">
                                <label  for="inputitle">Title</label>
                                <input type="text" id="inputitle" name="title" class="form-control" placeholder="Video Title" required="">
                            </fieldset>
                            <label class="file" style="width: 100%" onclick="$('input[id=lefile]').click();">
                                <input type="file" id="video" name="video">

                                <span class="file-custom"></span>
                            </label>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                            <button type="submit" class="btn btn-primary">Save changes</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <hr>
            <center><button type="button" class="btn btn-secondary" data-toggle="modal" data-target="#createVideo">&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp Upload Video &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp</button></center>
        <br><br>
        <div class="row">
            <% videos.forEach(function(videos){ %>
                <a href="#" class="list-group-item" data-id="<%= videos.id%>">
                <div class="col-lg-4">
                    <form action="/videos" method="delete"> 
                    <h4 class="list-group-item-heading" data-id="<%=videos.id%>"><%= videos.title %></h4>
                    <video width="320" height="240" controls preload="auto" codecs="avc1.42E01E, mp4a.40.2">
                        <source src="<%= videos.videoName %>" type="video/mp4" />
                    </video>
                    <small class="list-group-item">Upload by: <%= videos.user_id %></small>
                    <br/>
                    <button class="btn btn-secondary pull-right deleteBtn" type="button" data-id="<%= videos.id%>">Delete</button>
                    </form>
                </div>
                </a>
            <% }); %>
        </div>
        </div>
        <a href="/profileSetting,\"><button type="button" class="btn btn-secondary pull-left" id="prevBtn" onclick="nextPrev(-1)">Previous</button></a>
        <script>
            $('.deleteBtn').click(function() {
                var videos_id = $(this).data('id'); 
                console.log(videos_id);
                console.log('<%-urlPath%>' + videos_id )
                $.ajax({
                        url: '<%-urlPath%>'+ videos_id,
                        type: 'DELETE',
                        success: function(result) {
                            console.log(result.message);
                            var itemToRemove = '.list-group-item[data-id='+videos_id+']';
                            $(itemToRemove).remove();
                        },
                        error: function(result){
                            alert("Unable to delete video.");
                            console.log(result.message);
                        } 
                    });  
            });
           
        </script>
        <% include ../partials/footer %>
    </body>
    </html>
